<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table class="job-listing">
        <th:block th:each="job : ${jobs}">
            <tr>
                <td>
                ID: <span th:text="${job.id}">#</span><br/>
                Name: <span th:text="${job.name}">#</span><br/>
                Employer: <span th:text="${job.employer}">#</span><br/>
                Location: <span th:text="${job.location}">#</span><br/>
                Position Type: <span th:text="${job.positionType}">#</span><br/>
                Skill: <span th:text="${job.coreCompetency}">#</span>
                </td>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>